button {
    cursor: pointer;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.input {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: blue;
    border-radius: 20px;
}

.button {
    width: 400px;
    text-align: center;
    margin-left: 160px;
    padding: 30px;
    color: white;
    background-color: blue;
    border-radius: 30px;
}